/.idea
/.ipynb_checkpoints
/.venv
/.virtual_documents
/anaconda_projects
/data.json
/file_handling.py
/oops.py
/pyproject.toml
/sample.txt
/uv.lock
/Libraries/.ipynb_checkpoints
/Libraries/.virtual_documents
/Libraries/anaconda_projects
/Libraries/Pandas/.ipynb_checkpoints
/Libraries/Pandas/.virtual_documents
/Libraries/Pandas/anaconda_projects